.text {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .text.h1, .text.h2, .text.h3 {
    font-weight: bold;
  }
  
  .text.h1 {
    font-size: 2rem;
  }
  
  .text.h2 {
    font-size: 1.5rem;
  }
  
  .text.h3 {
    font-size: 1.2rem;
  }

  .text-success {
    color: #28a745;
    font-weight: bold;
  }
  
  .text-error {
    color: #dc3545;
    font-weight: bold;
  }
  
  