.order-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 0.25rem 0;
    color: #374151;
  }
  .order-item__name {
    color: #111827;
  }
  .order-item__price {
    font-weight: 500;
  }